<% provide(:title, t("pages.not_found_404.page_title")) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= t("pages.show_user.not_found_msg_html", {home_url: home_path, signup_url: signup_path}) %>
      </h1>
    </section>
  </aside>
</div>
