<% unless @user.errors.full_messages_for(field_opt).empty? %>
  <% @user.errors.full_messages_for(field_opt).each do |msg| %>
    <p class="error_msg_line">
      <%= msg %>
    </p>
  <% end %>
<% end %>
